@media screen and (max-width: 800px){
    .footer-input {
        width: 100%;
    }

    .input-areas>button {
        width: 100%;
    }

    .footer-link-wrapper {
        flex-direction: column;
    }

    .social-media-wrap {
        flex-direction: column;
    }
    .footer-link-items {
        margin: 0;
    }
    .card_item {
        width: 40%;
    }
}


@media screen and (max-width: 700px){

    ul {
        display: none;
        text-align: center;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background: #242424;
        /*background: blueviolet;*/
        margin: 0;
        padding: 0;
    }
    ul > li {
        padding: 8px 0;
        border-bottom: 0;
    }
    ul>li:hover {
        border-bottom: 0;
        opacity: 0.5;
    }
    ul li+li {
        margin-left: 0;
    }
    .btn-su {
        margin: 15px 0;
    }
    .menu_icon {
        display: block;
    }
    .fon_container > h1 {
        padding-top: 80px;
        font-size: 50px;
    }
    .fon_container > p {
        margin-top: 5px;
        font-size: 24px;
    }
}
@media screen and (max-width: 500px) {
    .header_container {
        height: 60px;
    }
    ul {
        top: 60px;
    }
    .fon_container > h1 {
        padding-top: 50px;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .fon_container > p {
        font-size: 18px;
    }
    .hero_btns {
        margin-top: 20px;
    }
}
@media screen and (max-width: 470px) {
    .card_item {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .header_logo {
        font-size: 24px;
    }
    .header_container {
        height: 50px;
    }
    ul {
        top: 50px;
    }
    .header_logo {
        margin-left: 20px;
    }
    .fon_container > h1 {
        padding-top: 120px;
    }
}


@media (min-width: 700px){
    ul {
        display: inline-flex !important;
    }
}