@media screen and (max-width: 800px){
    .footer-input {
        width: 100%;
    }

    .input-areas>button {
        width: 100%;
    }

    .footer-link-wrapper {
        flex-direction: column;
    }

    .social-media-wrap {
        flex-direction: column;
    }
    .footer-link-items {
        margin: 0;
    }
    .card_item {
        width: 40%;
    }

}


@media screen and (max-width: 700px){

    ul {
        display: none;
        text-align: center;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background: #242424;
        /*background: blueviolet;*/
        margin: 0;
        padding: 0;
    }
    ul > li {
        padding: 8px 0;
        border-bottom: 0;
    }
    ul>li:hover {
        border-bottom: 0;
        opacity: 0.5;
    }
    ul li+li {
        margin-left: 0;
    }
    .btn-su {
        margin: 15px 0;
    }
    .menu_icon {
        display: block;
    }
    .fon_container > h1 {
        padding-top: 50px;
        font-size: 44px;
        margin-bottom: 20px;
    }
    .fon_container > p {
        margin-top: 5px;
        font-size: 24px;
    }
    .slider {
        margin: 25px auto;
    }
    .card_slider {
        width: 430px;
    }
    .slides {
        max-width: 100%;
    }
    .slides img {
        width: 100%;
    }
    .next, .prev, .close {
        font-size: 30px;
    }
    .close {
        right: -70px;
    }
}
@media screen and (max-width: 500px) {
    .header_container {
        height: 60px;
    }
    ul {
        top: 60px;
    }
    .fon_container > h1 {
        padding-top: 35px;
        font-size: 34px;
        margin-bottom: 10px;
    }
    .fon_container > p {
        font-size: 18px;
    }
    .hero_btns {
        margin-top: 20px;
    }
    .slider {
        margin: 140px auto;
    }
    .next, .prev {
        display: none;
    }
    .close {
        right: 0;
        top: -25px;
    }
}
@media screen and (max-width: 470px) {
    .card_item {
        width: 100%;
    }
    .card_slider {
        width: 380px;
    }
}

@media screen and (max-width: 400px) {
    .video_media {
        width: auto;
        height: 120vh;
    }
    .fon_wrap {
        height: 120vh;
    }
    .header_logo {
        font-size: 24px;
    }
    .header_container {
        height: 50px;
    }
    ul {
        top: 50px;
    }
    .header_logo {
        margin-left: 20px;
    }
    .fon_container > h1 {
        padding-top: 120px;
    }

    .card_slider {
        width: 320px;
    }
}


@media (min-width: 700px){
    ul {
        display: inline-flex !important;
    }
}